name: Run Schmathesis Tests

on:
  push:
    branches:
      - main

jobs:
  api-tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: schemathesis/action@v1
        with:
          # API schema location
          schema: 'https://example.schemathesis.io/openapi.json'
          # Set your token from secrets
          token: ${{ secrets.SCHEMATHESIS_TOKEN }}